.banner {
  background: linear-gradient(90deg, #1E315B 0%, #496DBF 100%);
  min-height: 584px;
  .texto-banner {
    h1 {
      line-height: 45px;
    }
    p {
      line-height: 26px;
    }
    .botoes {
      gap: 30px;
      .botao-roxo {
        padding: 16px 71px;
        width: 254px;
      }
      .botao-roxo-nobg {
        padding: 16px 32px;
        width: 254px;
      }
    }
  }
}
