footer {
  background: linear-gradient(90deg, #1e315b 0%, #496dbf 100%);
  padding: 0 15px;
}

.links-footer {
  padding-top: 84px;
  .logo-footer {
    padding-bottom: 59px;
    img {
      height: 22.19px;
    }
  }
  .dropdown-footer-button, h4 {
    font-weight: 600;
    font-size: 15px;
    color: white;
  }
  .dropdown-footer {
    a {
      font-weight: 300;
      font-size: 15px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.contato {
  padding: 90px 0 52px 0;
  h4 {
    padding-bottom: 15px;
  }
  .redes {
    gap: 27px;
    a:hover {
      svg {
        path {
          fill: $roxo-claro
        }
        rect {
          stroke: $roxo-claro;
        }
      }
    }
  }
  .fale-conosco {
    div:first-of-type {
      gap: 7px;
    }
    div:nth-of-type(2) {
      gap: 3px;
    }
  }
}
.responsaveis {
  padding: 41px 0;
  border-top: 2px solid #C18E24;
  .oxigen {
    gap: 7px;
  }
  .responsavel {
    gap: 14px;
  }
}
form {
  .email-form {
    position: relative;
    input {
      height: 53px;
      border: 2px solid 
      rgba(119, 194, 215, 0.5);
      border-radius: 100px;
      background: none;
      padding-left: 26px;
      cursor: pointer;
      &::placeholder {
        color: white;
      }
    }
    button {
      position: absolute;
      top: 7px;
      right: 7px;
      background: none;
      border: none;
    }
    &:hover {
      input {
        border: 2px solid #77C2D7;
      }
      button {
        svg {
          circle {
            fill: $roxo-claro;
          }
        }
      }
    }
  }
}

@media(max-width: 991.9px) {
  .dropdown-footer {
    display: none;
    padding: 28px 30px 39px;
    a {
      padding: 15px 0;
    }
  }
  .dropdown-footer-button {
    padding: 10px 30px;
    gap: 18px;
    h4 {
      margin: 0;
    }
    border-top: 1px solid rgba(119, 194, 215, 0.15);   
  }
  .seta-footer {
    transition: all 0.5s ease-in-out;
    &.girar {
      transform: rotate(180deg);
      svg {
        fill: $roxo;
      }
    }
  }
  .email p {
    padding-top: 9.64px;
  }
  .fale-conosco {
    div:first-of-type {
      padding-bottom: 17.74px;
    }
  }
  .oxigen {
    padding-top: 33px;
    justify-content: center;
  }
  .medicos-responsaveis {
    order: -1;
    .responsavel p {
      padding: 0 59px 0 37px;
    }
    .hospital-responsavel p {
      padding-right: 79px;
    }
  }
}