.praticidade-container {
  background: linear-gradient(90deg, #1e315b 0%, #496dbf 100%);
  padding: 139px 0;
}
.praticidade-item {
  background: #ececeb;
  border-radius: 100px;
  padding: 31px 43px;
  gap: 43px;
  height: 86px;
  width: 350px;
  gap: 12px;
  p {
    margin: 0;
  }
  &:hover {
    background-color: #C05A94;
    p {
      color: white;
    }
    svg {
      circle {
        fill: white;
      }
      path {
        stroke: #C05A94;
      }
    }
  }
}
