@import "base/normalize";
@import "base/variaveis";
@import "base/tipografia";
@import "base/base";
@import "base/swiper";
@import "header";
@import "footer";
@import "banner";
@import "motivos";
@import "praticidade";
@import "relatos-blog";


.video-container {
  background: radial-gradient(125.51% 145.1% at 123.8% -45.1%, #b48c46 13.6%, #1e315b 95.72%);
  padding: 140px 0;
  .texto-video {
    h2 {
      width: 96%;
      line-height: 45px;
    }
  }
}

@media (max-width: 991.9px) {
  .banner {
    background-image: url(assets/images/background-md.png);
    background-repeat: no-repeat;
  }
  .texto-banner {
    h1 {
      width: 85% !important;
    }
  }
  .titulo-swipers {
    .texto {
      h2 {
        width: 80% !important;
      }
      p {
        width: 80%;
      }
    }
  }

}

@media (max-width: 767.9px) {
  .banner {
    background-image: url(assets/images/background-sm.png);
    background-repeat: no-repeat;
    height: 1114px;
  }
  .texto-banner {
    text-align: center;
    padding-top: 70px;
    width: 100% !important;
    h1 {
      width: 100% !important;
    }
  }
  .titulo-swipers {
    justify-content: center !important;
    text-align: center;
    .link {
      display: none;
    }
    .texto {
      width: 100% !important;
      h2, p {
        width: 100% !important;
      }
    }
    
}

.video-container {
  padding: 112px 20px;
}

}

@media (max-width: 575.9px) {
  .banner {
    margin-top: 0 !important;
    background-image: url(assets/images/background-xs.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  footer {
    padding: 0;
  }
  nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  .botoes {
    width: 100%;
    .botao-roxo, .botao-roxo-nobg {
      width: 100% !important;
    }
  }
  .medicos-responsaveis {
    .responsavel p {
      padding: 0 0 15px 0 !important;
  }
  }
  .email {
    padding-bottom: 50px;
  }
  .redes {
    padding-bottom: 50px;
  }

  .titulo-swipers {
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 14px !important;
    }
  }
  .mySwiper-motivos {
    .setas-swiper {
      top: 45%;
    }
    .motivos-slide {
      padding: 0 !important;
    }
  }


  .plano2 {
    padding-top: 76px;
  }
  .planos-texto {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
  }

  .texto-praticidade {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      padding-bottom: 45px;
    }
  }
  .praticidade-item {
    p {
      font-size: 16px;
    }
    svg {
      right: 14px;
    }
  }
  
  .video-container {
    padding: 112px 0 !important;
    .texto-video {
      h2 {
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 14px;
      }
    }
    iframe {
      width: 289px;
      height: 163px;
    }
  }

  .mySwiper-relatos {
    .relato {
      padding: 20px !important;
      p {
        font-size: 14px;
      }
      .dados-relato {
        .nome-tipo {
          h4 {
            text-align: left;
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .mySwiper-blog {
    .setas-swiper {
      top: 15%;
    }

    .link-blog {
      .img-blog {
        .data  {
          left: 16px;
        }
      }
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}