* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
* a {
  text-decoration: none;
  color: white;
}
* a:hover {
  color: white;
}

.sans {
  font-family: 'Public Sans', sans-serif;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.white {
  color: white;
}

.roxo {
  color: #C05A94;
}

.azul {
  color: #394E61;
}

.azul-escuro {
  color: #1F2E55;
}

.botao-roxo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C05A94;
  border-radius: 5px;
  color: white;
  max-height: 53px;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}
.botao-roxo:hover {
  color: white;
  background-color: #E56CB1;
}

.botao-roxo-nobg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #C05A94;
  border-radius: 5px;
  color: white;
  max-height: 53px;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}
.botao-roxo-nobg:hover {
  color: white;
  border: 2px solid #E56CB1;
}

.setas-swiper {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  width: 100%;
}
.setas-swiper div:first-of-type {
  transform: rotate(180deg);
}
.setas-swiper:hover svg path {
  stroke: #E56CB1;
}

.titulo-swipers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titulo-swipers .texto {
  width: 80%;
}
.titulo-swipers .texto h2 {
  color: #1F2E55;
  font-weight: 600;
  font-size: 32px;
  width: 55%;
  padding-bottom: 30px;
  line-height: 45px;
  margin: 0;
}
.titulo-swipers .texto h2 a {
  color: #C05A94;
  text-decoration: underline;
}
.titulo-swipers .texto p {
  color: #394E61;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}
.titulo-swipers .texto:hover a {
  color: #E56CB1;
}
.titulo-swipers .link {
  display: flex;
  gap: 11px;
  white-space: nowrap;
  align-self: flex-end;
}
.titulo-swipers .link:hover a {
  color: #E56CB1;
  text-decoration: underline;
}
.titulo-swipers .link:hover a svg circle {
  fill: #E56CB1;
}

.link-mobile {
  display: none;
}
@media (max-width: 767.9px) {
  .link-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    white-space: nowrap;
    padding-top: 30px;
  }
}

.titulo-facilidades, .titulo-dropdown-header {
  font-weight: 600;
  font-size: 13px;
  color: #C0A37B;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  background: linear-gradient(90deg, rgba(30, 49, 91, 0.95) 0%, rgba(73, 109, 191, 0.95) 100%);
  height: 79px;
  z-index: 10;
}
header .logo img {
  height: 22.19px;
}
header .links-nav {
  z-index: 30;
  padding-left: 50px;
}
header .links-nav .dropdown-nav {
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  display: flex;
  align-items: center;
}
header .links-nav .dropdown-nav > a {
  font-weight: 600;
  font-size: 15px;
  padding: 25px 30px;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
  gap: 4px;
}
header .links-nav .dropdown-nav > a:hover {
  border-bottom: 3px solid #C05A94;
}
header .links-nav .dropdown-nav .links-dropdown {
  display: none;
  min-height: 441px;
  position: absolute;
  background: linear-gradient(90deg, rgba(30, 49, 91, 0.95) 0%, rgba(73, 109, 191, 0.95) 100%);
  backdrop-filter: blur(5px);
  left: 0;
  top: 78px;
  width: 100%;
  padding: 0 40px;
}
header .links-nav .dropdown-nav .links-dropdown .itens-dropdown {
  padding-top: 90px;
  padding-bottom: 15px;
  color: white;
}
header .links-nav .dropdown-nav .links-dropdown .itens-dropdown h5 {
  font-weight: 600;
  font-size: 13px;
  color: #C0A37B;
}
header .links-nav .dropdown-nav .links-dropdown a {
  padding: 15px 0;
  font-size: 17;
  font-weight: 300;
}
header .links-nav .dropdown-nav .links-dropdown a:hover {
  text-decoration: underline;
}
header .links-nav .dropdown-nav:hover .links-dropdown {
  display: block;
}
header .outros {
  gap: 40px;
}
header .facilidades-button {
  border: 2px solid white;
  border-radius: 100px;
  padding: 14px 30px;
  gap: 3px;
  cursor: pointer;
}
header .facilidades-button.mudar-cor, header .facilidades-button:hover {
  background-color: white;
}
header .facilidades-button.mudar-cor p, header .facilidades-button:hover p {
  color: #C05A94;
}
header .facilidades-button.mudar-cor svg path, header .facilidades-button:hover svg path {
  stroke: #C05A94;
}
header .menu .burgir {
  cursor: pointer;
  position: relative;
  width: 38px;
  height: 21px;
}
header .menu .burgir span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 100px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
header .menu .burgir .top {
  top: 0;
}
header .menu .burgir .mid {
  top: 9px;
}
header .menu .burgir .bot {
  bottom: 0;
}
header .menu .burgir.aberto .top {
  transform: rotate(45deg) translate(0px, 10px);
}
header .menu .burgir.aberto .mid {
  opacity: 0;
}
header .menu .burgir.aberto .bot {
  transform: rotate(-45deg) translate(2px, -13px);
}
header .links-nav-mobile {
  display: none;
}

@media (max-width: 991.9px) {
  .outros {
    z-index: 30;
    height: 79px;
  }

  .facilidades-button {
    padding: 14px 15px !important;
  }

  .faixa-branca {
    width: 14px;
    height: 2px;
    background: white;
    display: block;
  }

  .dropdown-nav a:hover {
    border-top: 4px solid transparent !important;
  }

  .itens-nav .logo {
    margin: auto;
  }
  .itens-nav .links-nav-mobile {
    display: none;
    position: fixed;
    top: 90px;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: auto;
    z-index: 10;
    background: linear-gradient(90deg, rgba(30, 49, 91, 0.95) 0%, rgba(73, 109, 191, 0.95) 100%);
    backdrop-filter: blur(5px);
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile {
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
    margin: 18px 15px;
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile.link-ativo {
    background: rgba(27, 48, 87, 0.3);
    border-radius: 20px;
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
    border-bottom: 1px solid rgba(119, 194, 215, 0.15);
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile .links-dropdown-mobile {
    display: none;
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile .links-dropdown-mobile a {
    color: white;
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile .links-dropdown-mobile .sub-dropdown {
    padding: 15px 20px;
    gap: 8px;
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile .links-dropdown-mobile .sub-dropdown a {
    padding: 10px 0;
    display: block;
  }
  .itens-nav .links-nav-mobile .dropdown-nav-mobile .links-dropdown-mobile .sub-dropdown h5 {
    color: #C0A37B;
    font-weight: 600;
    font-size: 13px;
  }
  .itens-nav .links-nav-mobile .parte-2 {
    padding: 0 15px;
    background: rgba(27, 48, 87, 0.96);
    box-shadow: 0px 44px 50px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    height: 100%;
  }
  .itens-nav .links-nav-mobile .parte-2 .links-2 {
    padding: 15px 20px;
  }
  .itens-nav .links-nav-mobile .parte-2 .links-2 a {
    padding: 10px 0;
    border-bottom: 1px solid rgba(119, 194, 215, 0.15);
  }
}
@media (max-width: 575.9px) {
  .outros {
    background: linear-gradient(90deg, rgba(30, 49, 91, 0.95) 0%, rgba(73, 109, 191, 0.95) 100%);
    backdrop-filter: blur(5px);
  }

  .links-nav-mobile {
    top: 0 !important;
    padding-bottom: 100px;
  }

  header {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  header .logo {
    margin: 0 !important;
  }
}
footer {
  background: linear-gradient(90deg, #1e315b 0%, #496dbf 100%);
}

.links-footer {
  padding-top: 84px;
}
.links-footer .logo-footer {
  padding-bottom: 59px;
}
.links-footer .logo-footer img {
  height: 22.19px;
}
.links-footer .dropdown-footer-button, .links-footer h4 {
  font-weight: 600;
  font-size: 15px;
  color: white;
}
.links-footer .dropdown-footer a {
  font-weight: 300;
  font-size: 15px;
}
.links-footer .dropdown-footer a:hover {
  text-decoration: underline;
}

.contato {
  padding: 90px 0 52px 0;
}
.contato h4 {
  padding-bottom: 15px;
}
.contato .redes {
  gap: 27px;
}
.contato .redes a:hover svg path {
  fill: #E56CB1;
}
.contato .redes a:hover svg rect {
  stroke: #E56CB1;
}
.contato .fale-conosco div:first-of-type {
  gap: 7px;
}
.contato .fale-conosco div:nth-of-type(2) {
  gap: 3px;
}

.responsaveis {
  padding: 41px 0;
  border-top: 2px solid #C18E24;
}
.responsaveis .oxigen {
  gap: 7px;
}
.responsaveis .responsavel {
  gap: 14px;
}

form .email-form {
  position: relative;
}
form .email-form input {
  height: 53px;
  border: 2px solid rgba(119, 194, 215, 0.5);
  border-radius: 100px;
  background: none;
  padding-left: 26px;
  cursor: pointer;
}
form .email-form input::placeholder {
  color: white;
}
form .email-form button {
  position: absolute;
  top: 7px;
  right: 7px;
  background: none;
  border: none;
}
form .email-form:hover input {
  border: 2px solid #77C2D7;
}
form .email-form:hover button svg circle {
  fill: #E56CB1;
}

@media (max-width: 991.9px) {
  .dropdown-footer {
    display: none;
    padding: 28px 30px 39px;
  }
  .dropdown-footer a {
    padding: 15px 0;
  }

  .dropdown-footer-button {
    padding: 10px 30px;
    gap: 18px;
    border-top: 1px solid rgba(119, 194, 215, 0.15);
  }
  .dropdown-footer-button h4 {
    margin: 0;
  }

  .seta-footer {
    transition: all 0.5s ease-in-out;
  }
  .seta-footer.girar {
    transform: rotate(180deg);
  }
  .seta-footer.girar svg {
    fill: #C05A94;
  }

  .email p {
    padding-top: 9.64px;
  }

  .fale-conosco div:first-of-type {
    padding-bottom: 17.74px;
  }

  .oxigen {
    padding-top: 33px;
    justify-content: center;
  }

  .medicos-responsaveis {
    order: -1;
  }
  .medicos-responsaveis .responsavel p {
    padding: 0 59px 0 37px;
  }
  .medicos-responsaveis .hospital-responsavel p {
    padding-right: 79px;
  }
}
.banner {
  background: linear-gradient(90deg, #1E315B 0%, #496DBF 100%);
  min-height: 584px;
}
.banner .texto-banner {
  gap: 28px;
}
.banner .texto-banner h1 {
  line-height: 45px;
  width: 72%;
}
.banner .texto-banner p {
  line-height: 26px;
  margin: 0;
}
.banner .texto-banner .botoes {
  gap: 30px;
}
.banner .texto-banner .botoes .botao-roxo {
  padding: 16px 71px;
  width: 254px;
}
.banner .texto-banner .botoes .botao-roxo-nobg {
  padding: 16px 32px;
  width: 254px;
}

main {
  padding: 120px 0;
}

.swiper-container {
  padding-top: 70px;
}
.swiper-container .motivos-slide {
  height: 273px;
  padding: 0 33px;
}
.swiper-container .motivos-slide .img-swiper {
  height: 84px;
  width: 84px;
}
.swiper-container .motivos-slide h3 {
  padding: 18px 0 20px 0;
  margin: 0;
}
.swiper-container .border-slide {
  border-right: 2px solid #C1A37C;
  border-left: 2px solid #C1A37C;
}

.planos-container {
  padding-top: 120px;
}
.planos-container .planos-texto .botao-roxo {
  width: 157px;
  padding: 16px 32px;
}

@media (max-width: 991.9px) {
  .texto-video h2 {
    width: 100% !important;
  }

  .planos-texto p {
    height: 50px;
  }

  .plano img {
    width: 343.42px;
    height: 287.87px;
  }

  .plano2 img {
    width: 300.75px;
    height: 320.17px;
  }
}
.praticidade-container {
  background: linear-gradient(90deg, #1e315b 0%, #496dbf 100%);
  padding: 139px 0;
}

.praticidade {
  gap: 17px;
}

.praticidade-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ececeb;
  border-radius: 100px;
  padding: 0 43px;
  gap: 43px;
  height: 86px;
  width: 350px;
  gap: 12px;
  position: relative;
}
.praticidade-item svg {
  position: absolute;
  top: 23px;
  right: 24px;
}
.praticidade-item p {
  margin: 0;
}
.praticidade-item:hover {
  background-color: #E56CB1;
}
.praticidade-item:hover p {
  color: white;
}
.praticidade-item:hover svg circle {
  fill: white;
}
.praticidade-item:hover svg path {
  stroke: #E56CB1;
}

.relatos-blog {
  padding: 120px 0;
}
.relatos-blog .titulo-swipers {
  padding-bottom: 40px;
}
.relatos-blog .relato {
  background-color: #c4c4c4;
  padding: 40px;
  border-radius: 20px;
}
.relatos-blog .relato .dados-relato {
  gap: 20px;
  padding-bottom: 20px;
}
.relatos-blog .relato .dados-relato img {
  height: 77px;
  width: 77px;
}
.relatos-blog .relato .dados-relato .nome-tipo p {
  margin: 0;
}
.relatos-blog .relato p {
  text-align: left;
}

.blog .titulo-swipers {
  padding-top: 120px;
}
.blog .link-blog {
  text-align: left;
}
.blog .link-blog h3 {
  padding-top: 20px;
}
.blog .link-blog .img-blog {
  position: relative;
}
.blog .link-blog .img-blog .data {
  position: absolute;
  bottom: 0;
  left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #1e315b 0%, #496dbf 100%);
  opacity: 0.9;
  padding: 6px 20px;
}
.blog .link-blog:hover img {
  animation: crescer forwards 0.5s ease-in-out;
}
.blog .link-blog:hover h3, .blog .link-blog:hover p {
  color: #425A91;
}
.blog .link-blog:hover span:not(.data) {
  color: #E56CB1;
  text-decoration: underline;
}
.blog .link-blog:hover span:not(.data) svg path {
  stroke: #E56CB1;
}

@keyframes crescer {
  to {
    transform: scale(1.2);
  }
}
.video-container {
  background: radial-gradient(125.51% 145.1% at 123.8% -45.1%, #b48c46 13.6%, #1e315b 95.72%);
  padding: 140px 0;
}
.video-container .texto-video h2 {
  width: 96%;
  line-height: 45px;
}

@media (max-width: 991.9px) {
  .texto-banner h1 {
    width: 85% !important;
  }

  .titulo-swipers .texto h2 {
    width: 80% !important;
  }
  .titulo-swipers .texto p {
    width: 80%;
  }
}
@media (max-width: 767.9px) {
  .texto-banner {
    text-align: center;
    width: 100% !important;
  }

  .titulo-swipers {
    justify-content: center !important;
    text-align: center;
  }
  .titulo-swipers .link {
    display: none;
  }
  .titulo-swipers .texto {
    width: 100% !important;
  }
  .titulo-swipers .texto h2, .titulo-swipers .texto p {
    width: 100% !important;
  }

  .video-container {
    padding: 112px 20px;
  }
}
@media (max-width: 575.9px) {
  nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  .botoes {
    width: 100%;
  }
  .botoes .botao-roxo, .botoes .botao-roxo-nobg {
    width: 100% !important;
  }

  .medicos-responsaveis .responsavel p {
    padding: 0 0 15px 0 !important;
  }

  .email {
    padding-bottom: 50px;
  }

  .redes {
    padding-bottom: 50px;
  }

  .titulo-swipers h2 {
    font-size: 30px !important;
  }
  .titulo-swipers p {
    font-size: 14px !important;
  }

  .mySwiper-motivos .setas-swiper {
    top: 45%;
  }
  .mySwiper-motivos .motivos-slide {
    padding: 0 !important;
  }

  .plano2 {
    padding-top: 76px;
  }

  .planos-texto h3 {
    font-size: 20px;
  }
  .planos-texto p {
    font-size: 15px;
  }

  .texto-praticidade h2 {
    font-size: 24px;
  }
  .texto-praticidade p {
    font-size: 14px;
    padding-bottom: 45px;
  }

  .praticidade-item p {
    font-size: 16px;
  }
  .praticidade-item svg {
    right: 14px;
  }

  .video-container {
    padding: 112px 0 !important;
  }
  .video-container .texto-video h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .video-container .texto-video p {
    font-size: 14px;
  }
  .video-container iframe {
    width: 289px;
    height: 163px;
  }

  .mySwiper-relatos .relato {
    padding: 20px !important;
  }
  .mySwiper-relatos .relato p {
    font-size: 14px;
  }
  .mySwiper-relatos .relato .dados-relato .nome-tipo h4 {
    text-align: left;
    font-size: 14px;
  }
  .mySwiper-relatos .relato .dados-relato .nome-tipo p {
    font-size: 14px;
  }

  .mySwiper-blog .setas-swiper {
    top: 15%;
  }
  .mySwiper-blog .link-blog .img-blog .data {
    left: 16px;
  }
  .mySwiper-blog .link-blog h3 {
    font-size: 16px;
  }
  .mySwiper-blog .link-blog p {
    font-size: 14px;
  }
}
