@import "base/normalize";
@import "base/variaveis";
@import "base/tipografia";
@import "base/base";
@import "base/swiper";
@import "header";
@import "footer";
@import "banner";
@import "motivos";
@import "praticidade";
@import "relatos-blog";

.video-container {
  background: radial-gradient(125.51% 145.1% at 123.8% -45.1%, #b48c46 13.6%, #1e315b 95.72%);
  padding: 140px 0;
  .texto-video {
    h2 {
      width: 96%;
      line-height: 45px;
    }
  }
}

@media (max-width: 991.9px) {
  .titulo-swipers {
    .texto {
      h2 {
        width: 80% !important;
      }
      p {
        width: 80%;
      }
    }
  }

}
